.QuizList {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);
}

.QuizListWrapper {
  width: 100%;
  padding: 0 350px;
}

.QuizList h1 {
  color: #fff;
}

.QuizListItems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.QuizList li {
  margin-bottom: 10px;
}

.QuizList li h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #fa7a59;
}

.QuizList li p {
  color: #7e8084;
  margin: 0;
}

.QuizList li a {
  display: block;
  text-decoration: none;
  color: #fa7a59;
  padding: 20px;
  background: rgba(255, 255, 255, 80%);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.QuizList li a:hover {
  color: #363f54;
  background: #fff;
}

.QuizItemInfo {
  display: flex;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.QuizItemInfo li {
  margin-bottom: 0;
  margin-right: 10px;
}

.InfoIcon {
  font-size: 14px;
  margin-right: 5px;
}
.InfoCount {
  font-weight: 600;
}
